*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Roboto", sans-serif;
}

body{
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     background: #e0e3eb;
     color: #333;
     transition: all 0.3s ease;
}

.container{
     position: relative;
     max-width: 300px;
     width: 100%;
     padding: 10px 20px 20px;
     background: #fff;
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
     border-radius: 4px;
}

.display{
     height: 80px;
     width: 100%;
     outline: none;
     border: none;
     text-align: right;
     margin-bottom: 10px;
     font-size: 40px;
     font-weight: 300;
     pointer-events: none;
     overflow: visible;
     letter-spacing: 2px;
}

.buttons{
     display: grid;
     gap: 10px;
     grid-template-columns: repeat(4, 1fr);
}

.buttons button{
     padding: 12px 10px;
     border-radius: 6px;
     border: none;
     outline: none;
     font-size: 20px;
     cursor: pointer;
     background-color: #eee;
}

.buttons button:active, .switch:active{
     transform: scale(0.99);
}

.operator{
     color: #e69f51;
}

i {
     position: absolute;
     top: 0;
     right: 0;
     padding: 10px;
     font-size: 25px;
     color: #333;
     border: none;
     outline: none;
}